@import "base/utilities";
@import "base/solarized";
@import "base/theme";
@import "base/typography";
@import "base/layout";


a.github-ribbon {
  background-color: #F1505D;
  top: 3.2em;
  left: -3.7em;
  z-index: 9999;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 0 1px #F1505D inset,0 0 2px 1px white inset,0 0 1em #888;
  -moz-box-shadow: 0 0 0 1px #F1505D inset,0 0 2px 1px #fff inset,0 0 1em #888;
  -ms-box-shadow: 0 0 0 1px #F1505D inset,0 0 2px 1px #fff inset,0 0 1em #888;
  -o-box-shadow: 0 0 0 1px #F1505D inset,0 0 2px 1px #fff inset,0 0 1em #888;
  box-shadow: 0 0 0 1px #F1505D inset,0 0 2px 1px white inset,0 0 1em #888;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  padding: .9em 4.3em;
  position: fixed;
  font: bold 1.2em sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.6);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  // shown only for screens larger than 1024px
  display: none;
}

@media screen and (min-device-width: 1024px) {
  a.github-ribbon { display: block !important; }
}

